<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>

<body>
    {% if user.is_authenticated %}
    {% for u in profile %}
    <p>username{{ u.name }}</p>
    <p>user age{{ u.Age }}</p>
    {% endfor %}
    <a href="/profile_reg">Registration.</a>
    {% else %}
    <h1>
        Hello there This is the DataScale Holdings testout project using django and Sql
    </h1>
    {% endif %}
</body>

</html>